@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?ad2qs7');
  src:  url('#{$icomoon-font-path}/icomoon.eot?ad2qs7#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?ad2qs7') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?ad2qs7') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?ad2qs7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i [class^="ic-"],[class*= "ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-chongzhi {
  &:before {
    content: $ic-chongzhi;
  }
}
.ic-dianhua {
  &:before {
    content: $ic-dianhua;
  }
}
.ic-fapiao {
  &:before {
    content: $ic-fapiao;
  }
}
.ic-guanyu {
  &:before {
    content: $ic-guanyu;
  }
}
.ic-hezuo {
  &:before {
    content: $ic-hezuo;
  }
}
.ic-huiyuan {
  &:before {
    content: $ic-huiyuan;
  }
}
.ic-xinyongka {
  &:before {
    content: $ic-xinyongka;
  }
}
.ic-users {
  &:before {
    content: $ic-users;
  }
}

