$icomoon-font-path: "fonts" !default;

$ic-chongzhi: "\e900";
$ic-dianhua: "\e901";
$ic-fapiao: "\e902";
$ic-guanyu: "\e903";
$ic-hezuo: "\e904";
$ic-huiyuan: "\e905";
$ic-xinyongka: "\e906";
$ic-users: "\e972";

